@import 'abstracts/mq';
@import 'abstracts/variables';
@import 'abstracts/functions';

.tco-extractor {
	input[type="file"] {
		display: block;
		margin-top: 5px;
	}

	&-status {
		margin-top: 10px;
	}
}
