@import 'abstracts/mq';
@import 'abstracts/variables';

$c-demo1: $c-light-pink;
$c-demo2: lighten($c-pink, 15%);
$c-demo3: $c-pink;
$c-demo4: darken($c-pink, 15%);
$ff-sans: "Messina Sans";
$ff-serif: "Ivar Display";

.graphics__content {
  margin: -15px 0 10px;
}

.graphics,
.graphics__heading,
.graphics__source {
  font-family: $ff-sans;
}

p.allstate-increase__description {
  font-size: $fs-xs;
  font-family: $ff-sans;
  font-weight: 600;
  line-height: 1.4;
  max-width: 400px;
  margin-bottom: 15px;
}

.allstate-increase__description-highlight {
  color: $c-pink;
}

.allstate-increase__steps {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin: 0 auto 30px;

  @include mq($bp-mobile) {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
  }
}

.allstate-increase__step {
  position: relative;
  border: 1px solid $c-navy;
  margin-bottom: 30px;
  padding: 10px;

  @include mq($bp-mobile) {
    margin-bottom: 0;
    width: calc(33.3333% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.allstate-increase__label {
  font-size: $fs-xxs;
  font-family: $ff-sans;
  font-weight: normal;
  color: $c-tan;
  padding-right: 30px;
  padding-bottom: 5px;
}

.allstate-increase__figure {
  font-size: $fs-xxl;
  font-family: $ff-serif;
  line-height: 1;
  color: $c-pink;

  @include mq($bp-mobile) {
    font-size: $fs-lg;
  }

  @include mq($bp-tablet) {
    font-size: $fs-xxl;
  }
}

.allstate-increase__figure-small {
  font-size: $fs-md;

  @include mq($bp-mobile) {
    font-size: $fs-sm;
  }

  @include mq($bp-tablet) {
    font-size: $fs-md;
  }
}

.allstate-increase__sticker {
  position: absolute;
  background-color: $c-navy;
  top: -20px;
  right: -30px;
  border-radius: 100px;
  width: 64px;
  height: 64px;

  @include mq($bp-mobile) {
    top: -25px;
    right: -25px;
  }
}

.allstate-increase__sticker-figure {
  position: absolute;
  color: $c-white;
  text-align: center;
  padding-top: 20%;
  font-family: $ff-serif;
  font-size: $fs-md;
  line-height: 1;
  width: 100%;
}

.allstate-increase__sticker-small {
  display: block;
  font-family: $ff-sans;
  font-size: $fs-xxs;
  font-weight: normal;
}

.allstate-increase__arrow {
  position: absolute;
  left: 0;
  right: 0;
  width: 10px;
  top: 100%;
  margin: auto;

  @include mq($bp-mobile) {
    left: calc(100% + 7px);
    right: auto;
    top: 0;
    bottom: 0;
    transform: rotate(-90deg);
  }

  path {
    fill: $c-navy;
  }

  line {
    stroke: $c-navy;
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
  }
}