@use "variables" as *;

@function dots($color: $c-navy) {
  $color: str-slice(inspect($color), 2);
  @return url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3'%3E%3Ccircle cx='2.5' cy='2.5' r='.5' fill='%23" + $color + "'/%3E%3C/svg%3E");
}
