// Color Variables
// ---------------

$c-white:                    #ffffff;
$c-navy:                     #242a49;
$c-pink:                     #ff335f;
$c-light-pink:               #fbd7de;
$c-tan:                      #80736b;
$c-light-tan:                #f3f2f1;
$c-highlighter:              #dffe5a;
$c-light-blue:               #e6f3ff;

// Typography
// -------

// Font Size
$fs-xxs:                     14px;
$fs-xs:                      16px;
$fs-sm:                      18px;
$fs-md:                      22px;
$fs-lg:                      28px;
$fs-xl:                      36px;
$fs-xxl:                     48px;
$fs-xxxl:                    60px;
$fs-xxxxl:                   100px;

// Font Family
$ff-sans:                    'messina', sans-serif;
$ff-serif:                   'ivar-text', 'Georgia', serif;
$ff-display:                 'ivar-display', sans-serif;

// Breakpoints
// -------

$bp-mobile:                  490px;
$bp-tablet:                  690px;
$bp-desktop:                 1000px;
$bp-wide:                    1200px;

