
@import 'abstracts/mq';
@import 'abstracts/variables';

$c-race-white: #EA5950;
$c-race-black: #469CB5;
$c-race-aapi: #4CA65B;
$c-race-native: #472b88;
$c-race-latino: #FFB238;

#denial-reason__graphic {
    width: 100%;
    height: 400px;
}

#denial-reason__svg {
    width: 100%;
    height: 100%;

    .yaxis-gp text {
        font-size: 0.9em;
        text-anchor: end;
        alignment-baseline: middle;
    }

    text.race-gp-label {
        font-weight: 600;
    }

    text.denial-label {
        font-size: 1em;
        fill: white;
        text-anchor: end;
        alignment-baseline: middle;

        &.outside-label {
            fill: black;
            text-anchor: start;
        }
    }

    &.narrow {
        .yaxis-gp text {
            font-size: 0.75em;
        }
        
        text.denial-label {
            font-size: 0.7em;
        }
    }

    g.race-gp.white :is(text.race-gp-label, rect) {
        fill: $c-race-white;
    }

    g.race-gp.black :is(text.race-gp-label, rect) {
        fill: $c-race-black;
    }

    g.race-gp.asian :is(text.race-gp-label, rect) {
        fill: $c-race-aapi;
    }

    g.race-gp.native :is(text.race-gp-label, rect) {
        fill: $c-race-native;
    }

    g.race-gp.latino :is(text.race-gp-label, rect) {
        fill: $c-race-latino;
    }
}