@use "abstracts/variables" as *;
@use "abstracts/mq" as *;

.intro {
	padding: 20px;
	position: relative;
	min-height: 100vh;
	background-image: url('annual-report/assets/intro.jpg');
	background-color: #ECDAD0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center 75%;

	.logo {
		margin: 20px 0 0 0;
		display: block;
		width: 240px;
		fill: $c-pink;
	}

	h1, h2 {
		display: inline-block;
		font-size: $fs-xs;
		text-transform: uppercase;
		color: $c-pink;
		width: 140px;
		margin-top: 20px;
		padding: 10px 20px;
		border-left: 1px solid $c-pink;
		line-height: $fs-xs;
	}

	@include mq(620px) {
		.intro__heading {
			position: absolute;
			right: 20px;
			top: 10px;
		}
	}
}
