@use "abstracts/variables" as *;
@use "abstracts/mq" as *;
@use "abstracts/functions" as *;

.supporters {
	position: relative;
	padding: 20px;
	margin-top: 20px;

	h2 {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	&:before {
		content: "";
		background: transparent dots() left top;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 3px;
	}

	.supporters__content {
		font-size: $fs-sm;
		line-height: 1.7;
		font-family: $ff-serif;
		margin-bottom: 20px;
	}

	.drop-cap::first-letter {
		font-family: $ff-display;
		float: left;
		font-size: 99px;
		line-height: 70px;
		color: $c-pink;
		margin-top: 13px;
		margin-bottom: -4px;
		margin-right: 12px;
		text-transform: uppercase;
		font-weight: normal;
	}

	.person {
		margin-top: 20px;
	}

	.from-the-board {
		margin-top: 40px;
	}
}
