@use "abstracts/variables" as *;
@use "abstracts/mq" as *;
@use "abstracts/functions" as *;

.toc {
	padding: 20px;

	h2 {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	li {
		font-size: $fs-sm;
		margin-top: 0.1em;
	}

	a {
		text-decoration: none;
		color: $c-pink;
		background: transparent dots($c-pink) repeat-x right bottom 1px;
		transition: color 0.2s linear, background 0.2s linear;
		text-shadow: -3px 0px 0 $c-white, -2px 0px 0 $c-white, -1px 0px 0 $c-white, 1px 0px 0 $c-white, 2px 0px 0 $c-white, 3px 0px 0 $c-white;

		&:hover {
			color: $c-navy;
			background: transparent dots() repeat-x right bottom 1px;
		}
	}
}
